@charset "UTF-8";
.App {
  border: 1px solid #000;
  text-align: center; }
  .App .title_bar {
    display: flex; }
    .App .title_bar div {
      flex: 1;
      background-color: #ccc;
      border: 1px solid #000; }
    .App .title_bar div:nth-child(1) {
      -webkit-app-region: drag; }

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* 7개의 컬럼 */
  grid-gap: 10px; }

.calendar-day {
  padding: 10px;
  border: 1px solid #000; }
