@charset "UTF-8";
.App {
    border: 1px solid #000;
    text-align: center;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* 7개의 컬럼 */
    grid-gap: 10px;
}

.calendar-day{
    padding: 10px;
    border: 1px solid #000;
}